@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-brick:nth-child(4n + 1) {
  width: 300px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
  width: 375px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
  width: 230px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
  width: 430px;
}
