@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-brick:hover {
  cursor: pointer;
}

.masonry-brick {
  /* Used to lazy load the images one at a time */
  min-width: 400px;
}

.masonry-brick:nth-child(4n + 1) {
  width: 350px;
}

.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
  width: 375px !important;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
  width: 230px !important;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
  width: 430px !important;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--nav-color);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#hero-text .letter {
  display: inline-block;
  /* margin-left: -1px; */
  line-height: 1em;
}
